.products{
    width: 230px;
    padding: 10px;
    cursor: pointer;
    transition: width 0.5s;
}

.product_layout{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
    gap: 20px;
}
.products img{
    width: 200px;
    /* height: 200px; */
}

.product_content h1{
    font-size: 16px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.product_content h2{
    color: #535766;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 30px;
}

.product_content h3{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
    margin: 0;
}

.products:hover{
    box-shadow: 0px 4px 11px -5px;
    /* width: 250px; */
    /* transform: translateY(-3px); */
    /* text-align: center; */
    border-radius: 10px;
}